body{
    background-image: url(photo.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}
#formulaire{
    text-align: center;
    color: white;
    width: 70%;
    margin-right: 15%;
    margin-left:15% ;
    padding-bottom: 2%;
}
#titreContact {
    background-color: #323232 ;
    opacity: 0.70;
   
    color: white;
    padding: 0%;
    
}
#formulaire p{
    padding: 2%;
}
