#listeCategories, #listeTechniques{ /* debug ne pas mettre en production */
    display: none; /* debug ne pas mettre en production */
} /* debug ne pas mettre en production */



/*
      _       __ _       _ _   _             
     | |     / _(_)     (_) | (_)            
   __| | ___| |_ _ _ __  _| |_ _  ___  _ __  
  / _` |/ _ \  _| | '_ \| | __| |/ _ \| '_ \ 
 | (_| |  __/ | | | | | | | |_| | (_) | | | |
  \__,_|\___|_| |_|_| |_|_|\__|_|\___/|_| |_|
                                             
                                             
*/
@font-face{
    font-family:RalewayRegular;
    src:url("font/Raleway-Regular.ttf");
}
@font-face{
    font-family:RalewayLight;
    src:url("font/Raleway-Light.ttf");
}
/*                                 _ 
                                 | |
   __ _  ___ _ __   ___ _ __ __ _| |
  / _` |/ _ \ '_ \ / _ \ '__/ _` | |
 | (_| |  __/ | | |  __/ | | (_| | |
  \__, |\___|_| |_|\___|_|  \__,_|_|
   __/ |                            
  |___/  
*/
html, body {
    /*height: 100%; --> html = DOM */
	margin:0px;
	padding:0px;
	overflow:auto;
    height: 100%;
}
body, input, textarea, button{
	font-family: "RalewayLight";
	font-size:17px;
}
b{
	font-family:RalewayRegular;
}
/*
                    _                
                   | |               
  _ __   __ ___   _| |__   __ _ _ __ 
 | '_ \ / _` \ \ / / '_ \ / _` | '__|
 | | | | (_| |\ V /| |_) | (_| | |   
 |_| |_|\__,_| \_/ |_.__/ \__,_|_|   
                                     
                                     
*/

/* navbar CSS START */
header a {
    text-decoration: none;
    color: black;
}

header {
    z-index: 11;
}

.nav > .nav-item { 
    cursor: pointer;
}
/*
@media screen and (max-width: 980){ 
        width:100%;
        display:block; 
    }
}
*/



ul {
    list-style-type: none;
}

.showlist {
    max-height: 300px !important;
}
#generalMenu{
    background-color:#323232 ;
}
#generalMenu span{
    color : #C00000;
}
#generalMenu span:hover{
    color : #C00000;
    opacity: 0.7;
}

#generalMenu a{
    color : #939598;
}
#generalMenu a:hover{
    color : #939598;
    opacity: 0.7;
}

#generalMenu #black{
    color : black;
}
#generalMenu #grey{
    color : #939598;
}
#generalMenu #white{
    color : white;
}
/* navbar CSS END */
/* theme color start */

.bg2{
    background:rgb(2, 2, 2);
}
.bg3{
    background: rgb(255, 255, 255);
}
.bg4{
    background: #323232;
}

/* theme color end*/


/*
                  _       
                 (_)      
  _ __ ___   __ _ _ _ __  
 | '_ ` _ \ / _` | | '_ \ 
 | | | | | | (_| | | | | |
 |_| |_| |_|\__,_|_|_| |_|
                          
                          
*/
main{
	z-index:0px;
}



/*
                                         _ 
                                        | |
   ___ __ _ _ __ ___  _   _ ___ ___  ___| |
  / __/ _` | '__/ _ \| | | / __/ __|/ _ \ |
 | (_| (_| | | | (_) | |_| \__ \__ \  __/ |
  \___\__,_|_|  \___/ \__,_|___/___/\___|_|
                                           
                                           
*/
/* CAROUSEL START */
#carroussel{
	z-index:11;
	overflow:hidden;
	position: absolute;
	bottom:0px !important;
	left:0px;
	height: 17%;
	width: 100%;
}
/*fleches*/	

#suiv img{
	cursor: pointer;
	position: absolute;
	bottom: 25%;
	top: 25%;
	right: 0;
	height: 50%;
	width: 50px;



}
#prec img{
	cursor: pointer;
	position: absolute;
	bottom: 25%;
	top: 25%;
	left: -0;
	height: 50%;
	width: 50px;
	transform: rotate(180deg);
}
/*passage de la souris, decalage flèche*/
#suiv img:hover{
	right: -10px;
}
#prec img:hover{
	left: -10px;
}


/*class qui redimensionne les images dans la div slide*/

.redimension{
    width: 180px;
    height: 100%;
    max-height: 100%;
}

/*le slide*/

.slider{
	position:relative;
	bottom:0px;
	width: 5000px;
	height: 100%;
    background: url(img/pelpel.gif);
    background-repeat: repeat-x;
    background-size: contain;
    padding-top: 20px;
    padding-bottom: 20px;


}

/*les images/
	/*les encadrés des images*/

#carroussel a img{
	border: solid 6px #060606;
	vertical-align:text-top;
}
#carroussel a img:hover{
	border: solid 4px #C00000;
}

/*responsive carousel-----------------------*/
#carroussel2{
    overflow:hidden;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 17%;

}
/*fleches*/ 

.suiv2 img{
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right:25%;
    left:25%;
    transform: rotate(90deg);
    height: 50px;
    width: 50%;


}
.prec2 img{
    cursor: pointer;
    position: absolute;
    top: 0;
    right:25%;
    left:25%;
    height: 50px;
    width: 50%;
    transform: rotate(-90deg);
}
/*passage de la souris, decalage flèche*/
#suiv2 img:hover{
    bottom: -10px;
}
#prec2 img:hover{
    top: -10px;
}


/*class qui redimensionne les images dans la div slide*/

.redimension2{
    width: 73%;
    height: 120px;
    max-width: 100%;
}
/*le slide*/
.slider2{
    position: relative;
    right: 0px;
    /*top:-50px;*/
    height: 5000px;
    width: 100%;
    background: url(img/pelpel2.gif);
    background-repeat: repeat-y;
    background-size: contain;

    background-size:100%;




}
/*les images/
    /*les encadrés des images*/

#carroussel2 a{
    padding: 0 20px;
}
#carroussel2 a img{
    margin-top: 3px;
    border: solid 6px #060606
}
#carroussel2 a img:hover{
    border: solid 4px #C00000;
}


/*ZOOM*/
/*
                                         _ 
                                        | |
   ___ __ _ _ __ ___  _   _ ___ ___  ___| |
  / __/ _` | '__/ _ \| | | / __/ __|/ _ \ |
 | (_| (_| | | | (_) | |_| \__ \__ \  __/ |
  \___\__,_|_|_ \___/ \__,_|___/___/\___|_|
 |_  / _ \ / _ \| '_ ` _ \                 
  / / (_) | (_) | | | | | |                
 /___\___/ \___/|_| |_| |_|                
                                           
                                           
*/
#zoom{
    width:100%;
    padding-left: 5%;
}
#zoom img{
    border: outset 10px #C00000;
    box-shadow: 0px 4px 4px #1c1a19;
}
/*overlay*/
 .overlay {
            position: absolute;
            z-index: 21;
            display: none;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.85);
            padding-top: 5%;
            padding-bottom: 5%;
            text-align: center;
        }
.imgReal{
            height: 100%;
        }

.closeMe{
            position: absolute;
            mix-blend-mode: difference;
            filter: invert(1);
            font-size: 25px;
            font-weight: bold;
            left: 73%;
            top: 10%;
            cursor: pointer;
        }
/* CAROUSEL END */

@media (min-width: 992px) {
    /*background pc*/
   body{
        background-color: white;
    }
    /* NAVBAR */

    header {
        height: 17%;
        width: 100% !important;
    }

    header #titlelogo {
        height: 75%;
    }
    main{
        margin-top:5%;
        overflow-y:auto;
    }
    #categories, #techniques {
        width: 15%;
    }

    #technique_list, #categories_list, #themeList {
        transition: max-height 1s;
        max-height: 0;
        overflow: hidden;
    }

    .album {
        margin-right: auto;
    }
  
	div#col1, div#col2{
		display:inline-block;
		width:45%;
        vertical-align: top;
	}
    main {
        height: 67%;
        overflow-y: scroll;
    }
    #centerdiv {
        font-size: 0.85rem;
    }

    .img-photographer {
        width: 350px;
    }

    #boudoiralert {
        background-color: whitesmoke;
        border: 1px solid black;
        height: 25px;
        width: 375px;
        top: -10%;
        left: 65%;
        right: 0;
        bottom: 0;
        cursor: auto;
        padding-left: 2px;
        font-weight: bold;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    /* background tablette
    body{
        background-color:#323232;
        color: white;
    }*/
    /* NAVBAR */
    header {
        width: 17%;
        height: 100%;
        float: left;
    }
    nav{
        height:150px;
    }
    .flex-md-column {
        flex-direction: column !important;
    }
    
    header ul {
        height: 100%;
    }

    header ul li {
        max-height: 50px;
        overflow-wrap: break-word;
    }
    #menu{
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        width: 17%;
    }
    /*CARROUSEL*/
    #zoom{
        padding-top: 50px;
        padding-left: 28%;
    }
    #zoom img{
        width: 400px;
        height: 350px;
    }

    #titlelogo {
        width: 100%;
        position: absolute;
    }

    .album {
        margin-bottom: auto;
    }

    #technique_list, #categories_list, #themeList {
        display: none;
    }
    main{
        margin-left:17%;
    }
    #carroussel2 {
        width: 17%;
    }

    #generalMenu {
        height: 100%;
        display: block;
    }

    #accordeon {
        flex-direction: column;
    }

    .navbar-expand-md {
        flex-wrap: wrap;
    }
}


@media (min-width: 576px) and (max-width: 767.98px) {
    /*background tablette
    body{
        background-color:#323232;
        color: white;
    }*/
    /* NAVBAR */
    header {
        width: 17% !important;

    }

    header ul {
        height: 100%;
    }

    header ul li {
        max-height: 50px;
        overflow-wrap: break-word;
    }
    #menu{
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        width: 17%;
    }
    #titlelogo {
        width: 100%;
        position: absolute;
    }

    #technique_list, #categories_list, #themeList {
        display: none;
    }

    .album {
        margin-bottom: auto;
    }

    #generalMenu {
        height: 100%;
        display: block;
    }
    main{
        margin-left:17%;
        margin-top:50px;
    }
}

@media (max-width: 575.98px) {
     /*background smartphone*/
    body{
        background-color: #323232;
        color: white;
    }
    /* NAVBAR */
    .album {
        margin-right: auto;
    }
    
    header {
        width: 100% !important;
    }

    #technique_list, #categories_list, #themeList {
        display: none;
    }
    .slider{
        position:relative;
        bottom:0px;
        width: 5000px;
        height: 100%;
        background: url(img/pelpel.gif);
        background-repeat: repeat-x;
        background-size: contain;
        padding-top: 20px;

    }
}
/*responsiv version smartphone paysage*/
/*@media (orientation: landscape) and (max-device-width : 640px) {

}*/
/* css formulaire */
#pageformulaire{
    background-image: url(paysage.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}
#formulaire{
    text-align: center;
    color: white;
    width: 70%;
    margin-right: 15%;
    margin-left:15% ;
    padding-bottom: 2%;
}
#titreContact {
    background-color: #323232 ;
    opacity: 0.70;
   
    color: white;
    padding: 0%;
    
}
#formulaire p{
    padding: 2%;
}
#listeCategories{
    display: none;
}
#listeTechniques{
    display:none;
}
/* border info photo*/
#infophoto{
    border: outset 10px #C00000;
    box-shadow: 0px 4px 4px #1c1a19;
}